<div class="event" style="margin-top: 5px;">
  <div class="container-event">
    <div class="head-event">
      <form class="form-inline">
        <div class="" style="width: 70%;">
          <p class="organi-event" id="username" [routerLink]="['/user_profile',post.owner._id]">
            <span>
              <img class="rounded-circle img-fluid" alt="" width="45" height="45" src={{post.owner.image}}>
            </span>
            {{post.owner.info.full_name}}</p>
        </div>
        <div>
          <button (click)="share()" type="button" class="btn btn-default btn-sm" id="share">Share</button>
          <button [disabled]="excute" [ngStyle]="{'background-color': isApply? 'salmon' : 'yellowgreen'}" (click)="applySubmit()" type="button" class="btn btn-default btn-sm"
            id="apply">{{txtApply}}
            <span class="badge">{{apply}}</span>
            <!-- [ngStyle]="{'background-color': isApply? 'green' : 'gray'}" -->
            <!-- [ngClass]="{greenClass: list.enabled, redClass: !list.enabled}"> -->
          </button>
        </div>
      </form>
    </div>
    <div class="content-event">
      <div class="row">
        <small class="col-md-12  col-sm-12" style="color: #868e96!important;">#{{post.info.areas_expertise.name}}</small>
      </div>
      <div [routerLink]="['/post_detail',post._id]" class="row">
        <p class="col-md-12 col-sm-12" class="organi-event">{{post.info.title}}</p>
      </div>
      <div class="row">
        <p style="margin-left: 15px; margin-top: -1em;color: #868e96!important; font-weight:normal;" class="col-md-12 col-sm-12"
          id="craete-at" class="organi-event">{{createAt}}</p>
      </div>
      <div class="row">
        <p class="col-md-12  col-sm-12" style="color: tomato;">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{post.info.address}}</p>
      </div>
      <div class="row">
        <div class="col-md-6  col-sm-6">
          <p>
            <i class="fa fa-calendar" aria-hidden="true"></i> Start date: {{startDate}}</p>
        </div>
        <div class="col-md-6  col-sm-6">
          <p>End date: {{endDate}}</p>
        </div>
      </div>
      <div class="row">
        <p class="col-md-12  col-sm-12">Need {{this.post.info.number}} volunteers</p>
      </div>
      <div id="tasks">
        <p style="color:#2BBBAD">Tasks</p>
        <p>{{post.content.tasks}}
        </p>
      </div>
      <p style="color: #000000; cursor: pointer; font-weight: bold; font-size: 12px;" (click)="readMore()">{{txtReadMore}}</p>
      <div *ngIf="show" class="tab-content">
        <div id="objectives">
          <p style="color:#2BBBAD">Objectives</p>
          <p>{{post.content.objective}}</p>
        </div>
        <div id="requirements">
          <p style="color:#2BBBAD">Requirements</p>
          <p>{{post.content.requirement}}</p>
        </div>
        <!-- </div> -->
      </div>
      <hr>
      <div class="row">
        <p class="col-md-12" style="color: teal">Contact with us</p>
      </div>
      <div class="row">
        <p style="color: #4267b2;" class="col-md-12">
          <i class="fa fa-envelope" aria-hidden="true"></i> {{post.contact.email}}</p>
      </div>
      <div class="row">
        <p style="color: #4267b2" class="col-md-12">
          <i class="fa fa-phone" aria-hidden="true"></i> {{post.contact.phone}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <app-comment class="col-md-12" [post]="post"></app-comment>
  </div>
</div>