.form-field{
    display: flex;
    flex-direction: column;
}
.card{
    max-width: 500px;
    
}
* {
    -webkit-tap-highlight-color: transparent;
}
.card {
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
    padding: 16px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
}
@media (min-width: 481px){
    .card {
        margin-bottom: 16px;
        padding: 24px;
    }
}
.require{
    color: red;
}