ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}
  .profile-setting li{
    box-shadow: 0 1px 3px rgba(0,0,1,.1);
    display: inline;
    padding: 1vh;
  }
  .profile-setting li a:hover{
    color: #EB1919;
    text-decoration: none;
    cursor:pointer;
}
.active a {
  color: #EB1919;
  text-decoration: none;
}
/* .profile-setting{
  -webkit-padding-start:1%;
} */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}